<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULÁRIO</title>
    <!-- Adicionando Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Estilo personalizado -->
    <style>
        body {
            background-color: #212121; 
            color: #fff; 
            padding: 20px; 
        }

        h1 {
            margin-bottom: 20px; 
        }

        label {
            font-weight: bold; 
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>FORMULÁRIO WEB</h1>
        <form action="" method="post">
            <div class="input-field">
                <label for="name">NOME:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="input-field">
                <label for="email">EMAIL:</label>
                <input type="email" name="email" id="email">
            </div>
            <button class="btn waves-effect waves-light" type="submit">Cadastrar</button>
            
        </form>
    </div>

    <!-- Adicionando scripts do Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
